body {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    position: relative; 
}

h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
}

h3 {
    font-size: 17px;
    font-weight: 500;
    line-height: 15px;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.blockquote {
    padding-left: 0;
    font-weight: bold;
}

pre {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

a.navbar-brand {
	padding-top: 10px;
	padding-left: 5vw;
    float: left;
}

#myNavbar {
    float: right;
    padding-right: 5%;
}

#emacs {
    padding-top:50px;
    padding-bottom: 50px;
    height:auto;
    background-color: #f8f8f8;
}

#macros {
    padding-top:50px;
    height:auto;
    background-color: white;
}

#melpa {
    padding-top:50px;
    height: auto;
    background-color: #f8f8f8;
}


#flycheck {
    padding-top:50px;
    height: auto;
    background-color: white;
}

#yasnippet {
    padding-top:50px;
    height: auto;
    background-color: #f8f8f8;
}

#autocomplete {
    padding-top:50px;
    height: auto;
    background-color: white;
}

#undo-tree {
    padding-top:50px;
    height: auto;
    background-color: #f8f8f8;
}

#bCommand {
    padding-top:50px;
    height: auto;
    background-color: white;
}

#pCommand {
    padding-top: 50px;
    height: auto;
    background-color: #f8f8f8;
}

li.active, li.active > a {
    transition: 0.3s font-size;
    font-weight: bold;
    font-size: 15px;
}

a.dropdown-toggle:hover + ul.dropdown-menu, a.dropdown-toggle:active + ul.dropdown-menu, ul.dropdown-menu:hover {
    display: block !important;
}
